# Build artifacts
.build/
.swiftpm/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcuserstate

# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Archives
*.dmg
*.app
